<div class="container-contact100">
    <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
				<span class="contact100-form-title">
					A. Total Distance
				</span>

            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <input class="input100" type="text" name="name" placeholder="Total Distance" ng-model="totalDistance">
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
            </div>

            <span class="contact100-form-title">
					B. Max speed
				</span>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="MaxSpeed" placeholder="Max Speed" ng-model="maxSpeed">
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
            </div>

            <span class="contact100-form-title">
					C. Average speed
				</span>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="Averagespeed" placeholder="Avg Speed" ng-model="avgSpeed">
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
            </div>

            <span class="contact100-form-title">
					D. Elevation gained (high-low elevation)
				</span>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="elavationGained" placeholder="elavationGained" ng-model="elavationGained">
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
            </div>

            <span class="contact100-form-title">
					E. Moving time
				</span>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="MovingTime" placeholder="Moving Time" ng-model="movingTime">
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
            </div>

            <span class="contact100-form-title">
					F. Total time elapsed
				</span>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="timeElapsed" placeholder="timeElapsed" ng-model="timeElapsed">
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
